.App-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 170px 1fr;
  /* grid-gap: 10px;  */
}

.App-wrapper-content{
  grid-area: c;
  background-color: rgb(196, 196, 196);
}

* {
  margin: 0;
  box-sizing: border-box;
}




