.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    background-color: rgb(160, 160, 162);

}

.dialogsItems.active {
    color: blue;
}

.messages {
    padding: 10px;
}

.item {
    color: #fff;
}

.message {}