.dialogs{
display: grid;
grid-template-columns: 2fr 10fr;
}

.dialogsItems{
padding: 10px;
background-color: rgb(47, 47, 48);

}

.dialogsItems.active{
    color: blue;
}

.messages{
padding: 10px;
}

.message{

}